<!DOCTYPE html>
<html>
  <head>
    <title>建築 words wiki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="header_bar">
        <%= link_to "建築 words wiki", '#', class: "header_bar_text" %>
        <div class="header_send">
          <%= link_to "新規投稿", '#', class: "header__right--btn" %>
        </div>
      </div>
    </div>
    <%= yield %>
  
</html>
